<link rel="stylesheet" href="/css/foot.css"/>
<foot>
    <div style="text-align: center;" class="container">
        <div class="row p-3 textcolor">
            <div class="col-lg-4 col-md-5 col-sm-10">
                <h6>食 刻</h6>
                <div style="height: 20px">&nbsp;</div>
                @2020 ShiKe's All Rights Reserved
            </div>
            <div class="col-lg-4 col-md-5 col-sm-10">
                粤ICP备20320320号<br>
                <img src="/img/icon/jh.jpg" class="jhsize"/><br>
                粤公安网备 20320320320320号
            </div>
            <div class="col-lg-4 col-md-5 col-sm-10">
                <a href="#" class="bian">隐私政策</a>&nbsp;|&nbsp;
                <a href="#" class="bian">使用条款</a>&nbsp;|&nbsp;
                <a href="#" class="bian">联系我们</a>&nbsp;|&nbsp;
                <a href="#" class="bian">关注我们</a>
                <div style="height: 20px;font-size: 20px">&nbsp;</div>
                <a href="#" class="wb1" id="weixin"><img src="/img/icon/weixin.png" alt="" class="wsize"></a>
                <a href="#" class="wb2" id="weibo"><img src="/img/icon/weibo.png" alt="" class="wsize"><br></a>
<!--                <img src="/img/icon/weixincode.jpg" alt="" class="wsize2" id="weixincode">-->
<!--                <img src="/img/icon/weibocode.jpg" alt="" class="wsize3" id="weibocode">-->
            </div>
        </div>
    </div>
</foot>